<div class="container mx-auto p-4">
  <h1 class="text-xl font-bold mb-6">Lista de Pagamentos</h1>

  <!-- Search Bar -->
  <div class="mb-6 flex justify-between">
    <form [formGroup]="searchForm" class="flex row-auto gap-2">
      <input 
        type="text"
        formControlName="searchByIdentificacao"
        placeholder="Buscar por identificação..."
        class="min-w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
      <select  formControlName="searcByStatus"
          class="min-w-min p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
          <option value= >----</option>
          @for (status of statusPagamentos; track $index) {
            <option [value]="status">{{ getStatusText(status) }}</option>
          }
      </select>
    </form>
    <button class="text-blue-550 bg-blue-300 w-sm p-1  hover:text-blue-650 border border-blue-550 hover:border-blue-650 rounded-sm">
        Novo Pagamento
    </button>
  </div>

  <!-- Table -->
  <div class="overflow-auto h-[60vh]">
    <table class="min-w-full bg-white max-h-[60vh]">
      <thead>
        <tr class="">
          <th class="py-2 px-4 border-b text-left">Identificação</th>
          <th class="py-2 px-4 border-b text-left">Método de pagamento</th>
          <th class="py-2 px-4 border-b text-left">Valor</th>
          <th class="py-2 px-4 border-b text-left">Status</th>
          <th class="py-2 px-4 border-b text-left">Ações</th>
        </tr>
      </thead>
      <tbody>
        @for (pagamento of pagamentos; track $index) {
        <tr class="hover:bg-gray-50">
          <td class="py-3 px-4 border-b">
            {{ pagamento.cpfCnpj }}
          </td>
          <td class="py-3 px-4 border-b">
              {{ pagamento.metodoPagamento }}
          </td>
          <td class="py-3 px-4 border-b">
              R$ {{ pagamento.valor?.toFixed(2) }}
          </td>
          <td class="py-3 px-4 border-b">
            <div class="flex justify-center rounded-xl opacity-70" [class]="getStatusClass(pagamento.status)">
              {{ getStatusText(pagamento.status) }}
            </div>
          </td>
          <td class="flex col-auto sm:row-auto py-3 px-4 border-b">
            <button [disabled]="!pagamento.ativo" (click)="inativar(pagamento.id!)" class="text-gray-100 m-2 py-1 text-xl bg-blue-550 border border-transparent rounded-sm size-5/6 hover:bg-blue-650 hover:text-gray-100 disabled:opacity-25 mr-2">
                Inativar
            </button>
            <button (click)="processar(pagamento.idPagamento!)" class="text-blue-550 m-2 py-1 text-xl hover:text-blue-650 border border-blue-550 hover:border-blue-650 rounded-sm size-5/6">
                Processar
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <div class="mt-4 flex justify-between items-center">
    <div>
      <span class="text-gray-600">Itens por página: </span>
      <select #pageSizeSelect (change)="handleSelectPageSize(pageSizeSelect.value)" class="p-1 border rounded">
        @for (pageSize of pageSizeOptions; track $index) {
            <option [value]="pageSize">{{ pageSize }}</option>
        }
      </select>
    </div>
    <div class="flex items-center gap-2">
      <button 
        (click)="handlePreviousPage()"
        [disabled]="!previousPage"
        class="px-3 py-1 border rounded disabled:opacity-50 disabled:cursor-not-allowed"
      >
        Anterior
      </button>
      <button 
        (click)="handleNextPage()"
        [disabled]="!nextPage"
        class="px-3 py-1 border rounded disabled:opacity-50 disabled:cursor-not-allowed"
      >
        Próxima
      </button>
      <span class="text-gray-600 ml-2">
        Página {{ currentPage }} de {{ totalPages }}
      </span>
    </div>  
  </div>
</div>